<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:installLocation="auto" package="bladequest.world" android:versionName="2.1d" android:versionCode="9">
    <uses-sdk android:minSdkVersion="8"></uses-sdk>
    <supports-screens android:anyDensity="false" android:smallScreens="true" android:resizeable="false" android:largeScreens="true" android:normalScreens="true"></supports-screens>


    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="true">
        <activity android:name="bladequest.system.BqActivity"
                  android:label="@string/app_name" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>